@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font: #FFFFFF;
    --font-hover: #D3DDE3;
    --font2: #FB6F2A;
    --background: #070F22;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--background);
    color: var(--font);
}

header {
    width: 100%;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 4rem;
}

header nav {
    display: flex;
    gap: 0.8rem;
}

header nav a {
    text-decoration: none;
    color: var(--font);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
}

header nav a:hover{
    color: var(--font-hover);
    border-bottom: 2px solid var(--font2);
    transition: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5.5rem;
}

#home {
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home h1 {
    font-size: 6rem;
    color: var(--font-hover);
}

#home h1 span {
    font-size: 6rem;
    color: var(--font2);
}

#home .slogan {
    font-size: 3rem;
    font-weight: 500;
    color: var(--font);
}

h2 {
    font-size: 3.5rem;
    color: var(--font);
}

#sobreNos, #catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#sobreNos {
    background: var(--font2);
}

#sobreNos .containerCardsSobreNos {
    padding: 0 3rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}

#sobreNos .cardSobreNos {
    display: flex;
    align-items: center;

    gap: 1.5rem;
}

#sobreNos .cardSobreNos:nth-child(2) {
    flex-direction: row-reverse;
}

#sobreNos .cardSobreNos img {
    width: 12rem;
}

#sobreNos .cardSobreNos .infoCard {
    width: 40%;

    display: flex;
    flex-direction: column;
}

#sobreNos .cardSobreNos .infoCard span {
    font-size: 2rem;
    font-weight: 600;
}

#catalogo {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#catalogo .cardsContainer {
    display: flex;
    align-items: self-start;
    gap: 1rem;
}

#catalogo .card {
    background: var(--font-hover);
    padding: 0.5rem;
    border-radius: 8px;
    border: solid 1.5px var(--background);
    height: 18rem;
    width: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#catalogo .card img {
    height: 11rem;
    width: 100%;
}

#catalogo .card span {
    color: var(--background);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

#catalogo .card a {
    text-decoration: none;
    color: var(--font2);
    font-weight: 500;
    background: var(--black);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

#catalogo .consolesContainer {
    background: var(--font2);
    padding: 1.25rem;
    border-radius: 10px;
    text-align: center;
}

#catalogo .consolesContainer h3, #catalogo .controlesContainer h3 {
    font-size: 2.5rem;
}

#catalogo .consoleCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#catalogo .controlesContainer {
    background-color: var(--font2);
    padding: 1.25rem;
    text-align: center;
    border-radius: 10px;
}

#catalogo .controlesCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#catalogo .controlesCardsContainer .card img {
    height: 9rem;
    width: 85%;
}